header {

    background-color: #FFFFFF;
   /* padding: 20px;*/
    text-align: center;
    position:absolute;
    top:0;
    left: 0;
    width:100%;
}

body {
    height: 100%;
    /*width : 100%; */

}

main {
    margin-top: 100px; /* Adjust based on header height */
    margin-bottom: 60px; /* Adjust based on footer height */
    padding: 20px;
    min-height: calc(100vh - 160px); 
    background-color: #A3C3DC;
    /* /*width : 100%;* */
   /* position :absolute;*/
    left: 0;
}

main h1 {

    text-align: center;
    margin-top: 50px;
    font-size: 2.5em;
    color: #ffffff;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;

}

footer {

    background-color: #FFFFFF;
   /* padding: 20px;*/
    text-align: center;
    position:fixed;
    bottom:0;
    left: 0;
    width:100%;
}
li {
  display: inline;
  margin: 0 15px;
}

a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

a:hover {
  color: #ff0000;
}
header a.active {
  color: #ff0000;
}

.introduction {
    
    text-align: center;
    margin-top: 50px;
    font-size: 1.2em;
    color: #333333;
}

#quiz_button{
  
  font-size: 30px;
  cursor: pointer;
}


.container {
    display: flex;
    align-items: center;
    justify-content: left;
  }
  img {
    padding-left: 10px;
    padding-top: 50%;
    max-width: 75%;
    max-height:75%;
    float: left;
  }
  
  .text {
    font-size: 20px;
    padding-top: 5%;
    float: right;
  }

  /* Quiz Page*/

   .question {
      margin-bottom: 30px;
      text-align: center;
    }

    .question p{
      font-size: 20px;
    }

    label {
      display: block;
      margin: 8px 0;
      text-align: left;
      margin-left: 40%;
    }

    input[type="radio"] {
      appearance: none;
      -webkit-appearance: none;
      width: 16px;
      height: 16px;
      border: 2px solid #888;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      margin-right: 10px;
      vertical-align: middle;
      transition: background 0.3s;
    }

    input[type="radio"]:checked {
      background-color: #05008e; 
    }

    #submit_button {
      margin-left: 46%;
      margin-right: 46%;
      padding: 10px 20px;
      background-color: #05008e;
      color: white;
      border: none;
      cursor: pointer;
      font-weight: bold;
      text-align: center;
    }

    #submit_button:hover {
      background-color: #3283da;
    }

    .contact-form {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #f9f9f9;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    h2 {
      text-align: center;
      margin-bottom: 20px;
    }