header {

    background-color: #FFFFFF;
   /* padding: 20px;*/
    text-align: center;
    position:absolute;
    top:0;
    left: 0;
    width:100%;
}

body {
    height: 100%;
    /*width : 100%; */

}

main {
    margin-top: 100px; /* Adjust based on header height */
    margin-bottom: 60px; /* Adjust based on footer height */
    padding: 20px;
    min-height: calc(100vh - 160px); 
    background-color: #A3C3DC;
    /* /*width : 100%;* */
   /* position :absolute;*/
    left: 0;
}

main h1 {

    text-align: center;
    margin-top: 50px;
    font-size: 2.5em;
    color: #ffffff;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;

}

footer {

    background-color: #FFFFFF;
   /* padding: 20px;*/
    text-align: center;
    position:fixed;
    bottom:0;
    left: 0;
    width:100%;
}
li {
  display: inline;
  margin: 0 15px;
}

a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

a:hover {
  color: #ff0000;
}

.introduction {
    
    text-align: center;
    margin-top: 50px;
    font-size: 1.2em;
    color: #333333;
}

#quiz_button{
  font-size: 30px;
  cursor: pointer;
}


.container {
    display: flex;
    align-items: center;
    justify-content: left;
  }
  img {
    padding-left: 10px;
    padding-top: 50%;
    max-width: 75%;
    max-height:75%;
    float: left;
  }
  
  .text {
    font-size: 20px;
    padding-top: 5%;
    float: right;
  }